# --- Java & Gradle ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/resources/attachments/
!**/src/test/resources/attachments/

# --- IntelliJ & IDE ---
.idea/
*.iws
*.iml
*.ipr
out/
gen/

# --- OS ---
.DS_Store
Thumbs.db

# --- 설정, 비밀 정보 ---
src/main/resources/application.properties
src/main/resources/application.yml
*.log

